@{
    ViewBag.Title = "Desaparecidos";
}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
    <link href="~/Content/login.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h2>Pessoas Desaparecidas</h2>
    <p>Estima-se que cerca de 200 mil pessoas desaparecem todos os anos no Brasil, sendo 40 mil crianças e adolescentes, porém os dados não são precisos, pois não há um cadastro único de pessoas desaparecidas no país, o que acaba dificultando tanto estatísticas quanto a localização das mesmas.</p>
    <p>Como o desaparecimento não é considerado crime, é feito apenas o boletim de ocorrência e não há investigação até haver a suspeita de um crime --um homicídio ou um sequestro, por exemplo. A lei também obriga que o desaparecimento de crianças e adolescentes até 18 anos seja investigado, bem como o de pessoas com transtorno mental, mas, segundo a promotora Eliana, apenas o desaparecimento de crianças até 12 anos é investigado no país.</p>
    <p>Os desaparecimentos são classificados das seguintes formas:</p>
    <p>•	Voluntário – quando a pessoa se afasta por vontade própria e sem aviso prévio, o que pode ser motivado por: desentendimento, medo, aflição, choque de visões, planos de vida diferentes.</p>
    <p>•	Involuntário – quando a pessoa é afastada do cotidiano por um evento sobre o qual não tem controle, como um acidente, um problema de saúde ou um desastre natural.</p>
    <p>•	Forçado – quando outras pessoas provocam o afastamento, sem a concordância da pessoa, como sequestro ou a ação do estado.</p>
    <p>O senado detém uma proposta em votação que visa unificar o cadastro de pessoas desaparecidas. Caso seja aprovada, as informações do banco de dados passarão a ser compartilhadas entre todos estados. Terá descrição física e fotos. E também um espaço sigiloso, para os investigadores, com informações genéticas. A relatora do projeto, deputada Eliziane Gamma (PPS-MA) diz que os estados que não atualizarem os dados serão punidos.</p>


    <div class="form-group">
        <div class="row">
            <div class="col-sm-4">
                <input type="text" placeholder="Nome ou Cidade" class="form-control" id="BuscarDesaparecido" style="width:100%">
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-secondary" id="botaoPesquisar">Buscar</button>
            </div>
        </div>
    </div>
    @if (Session["usuarioLogado"] != null)
    {
        <a href="/Master/CriarDesaparecido" class="btn btn-primary">Adicionar Novo</a>
    }
    <div id="NomeDesaparecido">
        <h2> Pessoas Desaparecidas</h2>
        

        @{
            SOS_MoradoresDeRua.DAO.PessoaDesaparecidaDAO desaparecido = new SOS_MoradoresDeRua.DAO.PessoaDesaparecidaDAO();
            var desaparecidos = desaparecido.PegaMaisRecentes();
        }

        <div class="row">
            @foreach (var item in desaparecidos)
            {
                var pessoa = new SOS_MoradoresDeRua.DAO.PessoaDAO().BuscaPorId(item.PessoaId);
                var foto = new SOS_MoradoresDeRua.DAO.FotoDAO().BuscaPorPessoa(pessoa.Id).FirstOrDefault();
                
                    
                        <div class="col-sm-3">
                            <center>
                                <a href="../Master/Desaparecido?id=@item.Pessoa.Id">
                                    <div>
                                        @item.Pessoa.Nome
                                    </div>
                                    <div>
                                        @if (foto != null)
                                        {
                                            <img src="@SOS_MoradoresDeRua.DAO.FotoDAO.RetornaSrcImagem(foto)" width="200" height="200" />
                                        }
                                    </div>
                                </a>
                            </center>
                        </div>
            }
        </div>
    </div>
    <script src="~/Scripts/Busca.js"></script>
</body>


