
@{
    ViewBag.Title = "Sobre";
    Menus.ResetMenus();
}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="~/Content/login.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/site.css" rel="stylesheet" type="text/css" />
</head>

<h2>Nossa Missão:</h2>
<p>Ajudar as Pessoas em situação de rua a se reencontrarem e reencontrarem aqueles que amam. Proporcionar auxílio a medida do possível tanto em questão de alimento e moradia, quanto em relação ao futuro, além da conscientização sobre o assunto.</p>
<p>É também assistir na busca de pessoas desaparecidas através de divulgações sobre os mesmos, para possibilitar possível identificação.</p>
<br/>
<h2>Nossa Visão:</h2>
<p>Trazer um futuro melhor para quem vive em situação de rua e tentar diminuir ao máximo esse tipo de situação. Tornar cada vez mais pessoas conscientes e diminuir o preconceito sobre esta questão.</p>
<br />
<h2>Nossos Valores:</h2>
<p>Acreditamos que todos os seres humanos são iguais e têm o mesmo direito, ninguém deve viver nas ruas sofrendo as intempéries do tempo, sendo expostos de forma tão vulnerável a doenças e má alimentação. Cremos que é preciso pôr um fim a isso, principalmente rechaçar o preconceito e a mistificação que se criou em torno destas pessoas.</p>


