body {
    background: #bfbfbf;
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-image: url(../Imagens/banner2.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
}


.body-content 
{
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea 
{
    max-width: 280px;
}

.rodape {
    color: #F2FFFC;
    display: block;
}
p{
    text-align: justify;
}
